<div class="card mt-4" style="max-width: 540px">
  <div class="row no-gutters">
    <div class="col-md-5">
      <img
        [src]="serie.image"
        [alt]="serie.name"
        class="img-fluid rounded-start"
      />
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">{{ serie.name }}</h5>
        <p class="card-text">{{ serie.description }}</p>
        <a
          class="btn btn-primary"
          [href]="serie.website"
          target="_blank"
        >
          Ver más
        </a>
      </div>
    </div>
  </div>
</div>
